@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #E8ECEF;
}

main {
    width: 95vw;
    height: 95vh;
}

header {
    width: 100%;
    height: 500px;
    background: url('../imagens/pexels-peter-szabo-218434.jpg');
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 1px 1px 1px 1px black;
}



.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: white;
    
}

.title-header {
    font-size: 35px;
    
}

.menu {
    
    display: flex;
}

a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.bar-home {
    width: 50px;
    height: 2px;
    background-color: #1F9DCD;
    margin-left: 18px;
    
}